/*External CSS*/
body {
    background-color: azure;
}
h1 {
    color: rgb(26, 0, 26);
    background-color: rgb(62, 0, 75);
    margin: auto 50px;
    padding: 10em;
    text-align: center; 
    border: 10px double black;
}
h3 {
    color: orange;
    border: 10px solid black;
}
