/*External CSS*/
h1 {
    color: purple;
    background-color: green;
    margin: auto 50px;
    padding: -10px;
    text-align: center; 
    border: 10px solid black;
}

h3 {
    color: orange;
    border: 10px solid black;
}
